<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="119236-OQ05QX-268.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">

    <title>Foodfy</title>
</head>
<body>
    <div class="all">
        <header>
            <nav class="menu">
                    <ul>
                        <li class="logo"><a href="/"><img src="/logo.png" alt="logo do site"></a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/recipes">Receitas</a></li>
                    </ul>
            </nav>
        </header>

        <main>
            <div class="text-about">
                <h1>Sobre o Foodfy</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>

                <h2>Como tudo começou</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendiss
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>

                <h2>Nossas receitas</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur labore
                    perferendis et eligendi, reiciendis expedita quos culpa accusantium, animi voluptatibus
                    sint dicta vel itaque doloremque, magni mollitia corporis autem?
                </p>
            </div>
        </main>
    </div>

    <footer>
        <div><p>Todos os direitos reservados, receitas Foodfy</p></div>
    </footer>

</body>
</html>