<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/119236-OQ05QX-268.png" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">

    <title>Foodfy</title>
</head>
<body>
    <div class="all">
        <header>
            <nav class="menu">
                    <ul>
                        <li class="logo"><a href="/"><img src="/logo.png" alt="logo do site"></a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="#">Receitas</a></li>
                    </ul>
            </nav>
        </header>

        <div class="wrapper-grid">
            <div class="cards">
                <div class="card" id="burger">
                    <img src="/burger.png" alt="lanche monstrão">
                    <h2>Triplo bacon burguer</h2>
                    <p>por Guilherme Batalha</p>
                </div>

                <div class="card" id="pizza">
                    <img src="/pizza.png" alt="pizza">
                    <h2>Pizza 4 estações</h2>
                    <span><p>por Fabiana Melo</p></span>
                </div>

                <div class="card" id="espaguete">
                    <img src="/espaguete.png" alt="espaguete">
                    <h2>Espaguete ao alho</h2>
                    <span><p>por Júlia Kinoto</p></span>
                </div>

                <div class="card" id="lasanha">
                    <img src="/lasanha.png" alt="lasanha">
                    <h2>Lasanha mac n' cheese</h2>
                    <span><p>por Juliano Vieira</p></span>
                </div>

                <div class="card" id="doce">
                    <img src="/doce.png" alt="doce">
                    <h2>Docinhos pão-do-céu</h2>
                    <span><p>por Ricardo Golvea</p></span>
                </div>

                <div class="card" id="asinhas">
                    <img src="/asinhas.png" alt="asinhas de frango">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <span><p>por Vania Steroski</p></span>
                </div>
                <div class="card" id="burger">
                    <img src="/burger.png" alt="lanche monstrão">
                    <h2>Triplo bacon burguer</h2>
                    <span><p>por Guilherme Batalha</p></span>
                </div>

                <div class="card" id="pizza">
                    <img src="/pizza.png" alt="pizza">
                    <h2>Pizza 4 estações</h2>
                    <span><p>por Fabiana Melo</p></span>
                </div>

                <div class="card" id="espaguete">
                    <img src="/espaguete.png" alt="espaguete">
                    <h2>Espaguete ao alho</h2>
                    <span><p>por Júlia Kinoto</p></span>
                </div>

                <div class="card" id="lasanha">
                    <img src="/lasanha.png" alt="lasanha">
                    <h2>Lasanha mac n' cheese</h2>
                    <span><p>por Juliano Vieira</p></span>
                </div>

                <div class="card" id="doce">
                    <img src="/doce.png" alt="doce">
                    <h2>Docinhos pão-do-céu</h2>
                    <span><p>por Ricardo Golvea</p></span>
                </div>

                <div class="card" id="asinhas">
                    <img src="/asinhas.png" alt="asinhas de frango">
                    <h2>Asinhas de frango ao barbecue</h2>
                    <span><p>por Vania Steroski</p></span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div><p>Todos os direitos reservados, receitas Foodfy</p></div>
    </footer>

    <!-- ===MODAL=== -->
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="card">
                <img src="">
                <h2></h2>
                <div class="author"></div>

                <p class="close">Fechar modal</p>
            </div>
        </div>
    </div>

    <script src="./scripts/modal.js"></script>
</body>
</html>